# Final Assessment Scratch Pad

## Instructions

1. Please use only this Jupyter notebook to work on your model, and **do not use any extra files**. If you need to define helper classes or functions, feel free to do so in this notebook.
2. This template is intended to be general, but it may not cover every use case. The sections are given so that it will be easier for us to grade your submission. If your specific use case isn't addressed, **you may add new Markdown or code blocks to this notebook**. However, please **don't delete any existing blocks**.
3. If you don't think a particular section of this template is necessary for your work, **you may skip it**. Be sure to explain clearly why you decided to do so.

## Report

**[TODO]**

Please provide a summary of the ideas and steps that led you to your final model. Someone reading this summary should understand why you chose to approach the problem in a particular way and able to replicate your final model at a high level. Please ensure that your summary is detailed enough to provide an overview of your thought process and approach but also concise enough to be easily understandable. Also, please follow the guidelines given in the `main.ipynb`.

This report should not be longer than **1-2 pages of A4 paper (up to around 1,000 words)**. Marks will be deducted if you do not follow instructions and you include too many words here. 

**[DELETE EVERYTHING FROM THE PREVIOUS TODO TO HERE BEFORE SUBMISSION]**

##### Overview
**[TODO]**

##### 1. Descriptive Analysis
**[TODO]**

##### 2. Detection and Handling of Missing Values
**[TODO]**

##### 3. Detection and Handling of Outliers
**[TODO]**

##### 4. Detection and Handling of Class Imbalance 
**[TODO]**

##### 5. Understanding Relationship Between Variables
**[TODO]**

##### 6. Data Visualization
**[TODO]** 
##### 7. General Preprocessing
**[TODO]**
 
##### 8. Feature Selection 
**[TODO]**

##### 9. Feature Engineering
**[TODO]**

##### 10. Creating Models
**[TODO]**

##### 11. Model Evaluation
**[TODO]**

##### 12. Hyperparameters Search
**[TODO]**

##### Conclusion
**[TODO]**

---

# Workings (Not Graded)

You will do your working below. Note that anything below this section will not be graded, but we might counter-check what you wrote in the report above with your workings to make sure that you actually did what you claimed to have done.

## Import Packages

Here, we import some packages necessary to run this notebook. In addition, you may import other packages as well. Do note that when submitting your model, you may only use packages that are available in Coursemology (see `main.ipynb`).

In [6]:
%%time
import pandas as pd
import os
import numpy as np
from util import show_images, dict_train_test_split

CPU times: total: 0 ns
Wall time: 0 ns

## Load Dataset

The dataset provided is multimodal and contains two components, images and tabular data. The tabular dataset `tabular.csv` contains $N$ entries and $F$ columns, including the target feature. On the other hand, the image dataset `images.npy` is of size $(N, H, W)$, where $N$, $H$, and $W$ correspond to the number of data, image width, and image height, respectively. Each image corresponds to the data in the same index of the tabular dataset. These datasets can be found in the `data/` folder in the given file structure.

A code snippet that loads and displays some of the data is provided below.

### Load Tabular Data

In [7]:
df = pd.read_csv(os.path.join('data', 'tabular.csv'))
df

,V0,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V51,V52,V53,V54,V55,V56,V57,V58,V59,target
0,8315.0,1784.0,21994.0,37115.0,317.0,105.016815,296559.0,321602.0,2470.0,C1,...,C4,C4,834148.0,C2,C6,1089,293,C2,7428.249334,300.0
1,8315.0,1272.0,11114.0,18683.0,230.0,NaN,340059.0,368602.0,2820.0,C0,...,C7,C7,401668.0,C5,C6,9801,1085,C7,9693.829502,200.0
2,8315.0,3832.0,65514.0,147707.0,607.0,105.018240,279159.0,302802.0,2330.0,C1,...,C7,C7,820948.0,C5,C4,1485,304,C6,7609.258214,50.0
3,8315.0,2296.0,32874.0,55547.0,404.0,NaN,313959.0,340402.0,2610.0,C1,...,C7,C7,1664548.0,C5,C5,-495,711,C4,4258.532609,140.0
4,11021.0,1784.0,21994.0,37115.0,375.0,105.024985,232701.0,252606.0,1490.0,C0,...,C7,C7,735748.0,C2,C9,1683,117,C0,9492.484802,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357694,8315.0,1272.0,11114.0,18683.0,230.0,105.012445,270459.0,293402.0,2260.0,C0,...,C2,C2,25708.0,NaN,C4,6336,1855,C2,4634.276235,30.0
357695,8315.0,2296.0,32874.0,55547.0,404.0,NaN,244359.0,265202.0,2050.0,C0,...,C7,C7,820948.0,C5,C9,2970,854,C8,8379.073980,190.0
357696,8315.0,1784.0,21994.0,37115.0,375.0,NaN,348759.0,378002.0,2890.0,C0,...,C7,C7,1212748.0,C5,C9,-4257,942,C8,5359.986193,140.0
357697,8315.0,1784.0,21994.0,37115.0,375.0,105.016815,348759.0,378002.0,2890.0,C0,...,C7,C7,1664548.0,C5,C8,2376,1195,C7,9095.239127,180.0
357698,8315.0,1784.0,21994.0,37115.0,317.0,NaN,244359.0,265202.0,2050.0,C0,...,C7,C7,820948.0,C5,C9,9108,502,C3,9379.720939,70.0

### Load Image Data

In [ ]:
with open(os.path.join('data', 'images.npy'), 'rb') as f:
    images = np.load(f)
    
print('Shape:', images.shape)
show_images(images[:10], n_row=2, n_col=5, figsize=[12,5])

## Data Exploration & Preparation

### 1. Descriptive Analysis

### 2. Detection and Handling of Missing Values

### 3. Detection and Handling of Outliers

### 4. Detection and Handling of Class Imbalance

### 5. Understanding Relationship Between Variables

### 6. Data Visualization

## Data Preprocessing

### 7. General Preprocessing

### 8. Feature Selection

### 9. Feature Engineering

## Modeling & Evaluation

### 10. Creating models

### 11. Model Evaluation

### 12. Hyperparameters Search